<div class="mb-3">
    <a class="btn btn-primary" role="button" href="/">Мой профиль</a>
    <a class="btn btn-primary" role="button" href="/search">Поиск людей</a>
    <a class="btn btn-primary" role="button" href="/friends">Мои друзья</a>
    <a class="btn btn-primary" role="button" href="/offers">Заявки в друзья</a>
    <a class="btn btn-primary" role="button" href="{{ path('app_logout') }}">Выход</a>
</div>